@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 140 33% 7%;
      --foreground: 140 40% 98%;

      --card: 142 84% 4.9%;
      --card-foreground: 130 40% 98%;

      --popover: 142.2 84% 4.9%;
      --popover-foreground: 130 40% 98%;

      --primary: 130 40% 98%;
      --primary-foreground: 142.2 47.4% 11.2%;

      --secondary: 143 41% 56%;
      --secondary-foreground: 130 40% 98%;

      --muted: 137.2 32.6% 17.5%;
      --muted-foreground: 135 20.2% 65.1%;

      --accent: 140 40% 50%;
      --accent-foreground: 140, 33%, 7%;

      --destructive: 140 70% 50%;
      --destructive-foreground: 130 40% 98%;

      --border: 137.2 32.6% 17.5%;
      --input: 137.2 32.6% 17.5%;
      --ring: 132.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .link {
    @apply border-b-2 border-accent/[0.6] text-accent hover:border-transparent hover:bg-destructive hover:text-accent-foreground no-underline
 }