@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 140 60% 95%;
      --foreground: 130 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
      
      /* Popover já ajustado 
        usado em: bg project-item
      */
      --popover: 140 90% 93%;
      /* Link hover color */
      --popover-foreground: 140 70% 20%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      /* Secondary já ajustadas */
      --secondary: 143 50% 70%;
      --secondary-foreground: 130 60% 30%;

      /* Muted-foreground já ajustado
        usado em cor do github quando não há link projects
      */
      --muted: 130 40% 80%;
      /* Muted-foreground já ajustado
        usado em text color article projects
      */
      --muted-foreground: 120 30% 35%;

      /* Accent já ajustado */
      --accent: 140 100% 20%;
      --accent-foreground: 140 47% 70%;

      --destructive: 140 60% 60%;
      /* Destructive-foreground já ajustado
        usado em cor de github link projetos
      */
      --destructive-foreground: 130 60% 20%;

      --border: 140 100% 30%;
      /* Input já ajustado 
        usado em hover articles projects
        usado em leetcode stats circular bar
      */
      --input: 137 70% 80%;
      --ring: 222.2 84% 4.9%;
      --radius: 0.5rem;

      /* Cores dos icons */
      /* React Icon */
      --iconreact: 194.7 91% 34%;
      
    }

    .dark {
      --background: 140 33% 7%;
      --foreground: 140 40% 98%;

      --card: 142 84% 4.9%;
      --card-foreground: 130 40% 98%;

      --popover: 142.2 84% 4.9%;
      /* Link hover color */
      --popover-foreground: 140 33% 7%;

      --primary: 130 40% 98%;
      --primary-foreground: 142.2 47.4% 11.2%;

      /* Secondary já ajustadas */
      --secondary: 140 40% 40%;
      --secondary-foreground: 130 40% 80%;

      --muted: 137.2 32.6% 17.5%;
      --muted-foreground: 135 20.2% 65.1%;

      --accent: 140 40% 50%;
      --accent-foreground: 140, 33%, 7%;

      --destructive: 140 70% 50%;
      --destructive-foreground: 130 40% 98%;

      --border: 137.2 32.6% 17.5%;
      --input: 137.2 32.6% 17.5%;
      --ring: 132.7 26.8% 83.9%;

      /* Cores dos icons */
      /* React Icon */
      --iconreact: 191 65% 60%;


    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .link {
    @apply underline underline-offset-4 decoration-accent/[0.5] decoration-2 text-accent hover:no-underline hover:bg-destructive hover:text-popover-foreground
 }


 .fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
 }

 @keyframes fadeIn {
  to {
    opacity: 1;
  }
 }